#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.card {
    padding: 2em;
}

#content {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    max-width: 1200px;
}

#reset-button {
    margin: 20px;
}
